
body{
    padding-top: 6.3rem;
  }
  .header{
    
      position: fixed;
      overflow: hidden;
      width: 100%;
      top: 0;
      left: 0;
      background-color: transparent;
      background-color:#00f600;
      z-index: 9999;
     height: 6rem;
      font-weight: bold;
     
  }
  .nav{
   
   display: flex;
   justify-content: space-between;
   height: 96px;
   width: 100%;
   position: relative;
  
   
   
  }
  .logo{
    height: 89px;
    position: relative;
    top: 4px;
    left: 53px;
    width: 25%;
  }
.imglogo{
  height: 87px;
  width: 87px;
  position: relative;
  left: 41px;
  }
.containe{
  display: flex;
    justify-content: space-around;
    align-items: center;
   
    height: 96px;
    width: 75%;
}

.header-menu{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 68px;
    padding-left: 80px;
    height: 96px;
    width: 45%;
}
.header-menu a{
  width: 100px;
  font-size: large;
  
}
.header-menu a:hover{
  font-size: larger;
  
}

.header-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 22px;
  height: 96px;
  padding-left: 73px;
  width: 55%;
}

  /* CSS */
   .mbutton-1 {
    align-items: center;
    appearance: none;
    background-color: #08f65c80;
    border: 1px solid;
    border-radius: 19px;
    /* border-style: none; */
    /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: medium;
    font-weight: 700;
    height: 44px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 112px;
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .mbutton-1:hover {
    background: #2ef062;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; 
    color: #fafbfb;
  } 
  
  
  
  
  
  
  
  
  
  